*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.page{
  display: flex;
  background-color: #d3d3d3;
  flex-direction: column;
  width: 100%;
  height: 1500px;
}
.container-fluid {
  display: flex; /* hopefully this didnt mess up anything with bootstrap. it seems fine now though */
}
.navbar-nav {
  border: 1px solid #111; /* debug border. feel free to take this out. */
  margin-top: 10px;
}
.find-logo {
  border: 1px solid #111;
  display: flex;
  margin-left: auto;
  justify-content: space-between;
}

.y-logo {
  margin-top: 20px;
}

.find-start {
  margin-right: 7px;
}

.footer{
  display: flex;

}
.footer-item{
  display: flex;
}
